<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Ian Cross">
	<!-- favicon
	<link rel="shortcut icon" href="/img/ico/favicon.png">
	-->
	<title>{{ page.title }} | Ian Cross | FCC Student, Front-End Developer, Wordpress Developer, Music Enthusiast, Yogo Student.</title>		
	<!-- styles -->
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,900" rel="stylesheet">

	<link href="/css/style.css" rel="stylesheet">
	
	<meta name="google-site-verification" content="4ImH3bgBdwyRau_krRA3oN0CCBaHs8yu2dceMDewOrY" />
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
  <script src="../../assets/js/html5shiv.js"></script>
  <script src="../../assets/js/respond.min.js"></script>
	<![endif]-->
	<!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}	
</head>
